[user]
	name = ramdos0207
	email = dev@ramdos.net
[include]
	path = ~/.gitconfig.local
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[gpg]
	program = /bin/gpg
[commit]
	gpgsign = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
